node_modules
dist/*
*.log
*.pem
./config.js
pythonCode/models
pythonCode/yolo
s3Account.json
mongoAccount.json
config.js
mongoAccount.js
models/Feed/feedTestData
cropped/feedTestData
models/MU/
pythonCode/yolo/
cropped/
thumbnail/
uploads/
pythonCodeForVisualization/
profile/
profilePhoto/
---classifierAPIServer---/models